div{
    width: 100px;
    height: 100px;
}
a{
    margin: 0 auto;
    text-decoration: none;
}
.selectmap{
    width: auto;
    height: auto;
    margin: 0 auto;
}
#body{
    display: flex;
    width: 100%;
    height: 100%;
}
#controle{
    width: auto;
    height: auto;
}
ul{
    padding: 10px;
}
.map{
    display: inline-block;
    width: 500px;
    height: 250px;
}
.map4{
    height: 450px;
}
#plateau{
    display: flex;
    width: 900px;
    height: 500px;
    flex-wrap: wrap;
    margin: 0 auto;
}
#plateau1{
    display: flex;
    width: 1100px;
    height: 700px;
    flex-wrap: wrap;
    margin: 0 auto;
}
#plateau2{
    display: flex;
    width: 1100px;
    height: 500px;
    flex-wrap: wrap;
    margin: 0 auto;
}
#plateau3{
    display: flex;
    width: 700px;
    height: 1100px;
    flex-wrap: wrap;
    margin: 0 auto;
}
#plateau4{
    display: flex;
    width: 900px;
    height: 700px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.btn{
    width: 200px;
    height: 200px;
}
.y{
    width: 900px;
    height: 100px;
    display: flex;
}
.y2{
    width: 1100px;
    height: 100px;
    display: flex;
}
.y3{
    width: 700px;
    height: 100px;
    display: flex;
}
.bombe{
    width: 84px;
    height: 100px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 0px;
    left: 13px;
}
img{
    width: 100px;
    height: 100px;
    display: block;
}
.vide{
    background: blue;
    position: relative;
}
.cassable{
    background: brown;
}
.incassable{
    background: grey;
}
button{
    width: 200px;
    height: 200px;
    font-size: 28px;
    display: none;
}
#flex{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}
#flex button{
    display: block;
}
.explosion{
    background: yellow;
}
