div{
    width: 100px;
    height: 100px;
}
#plateau{
    display: flex;
    width: 900px;
    height: 500px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.y{
    width: 900px;
    height: 100px;
    display: flex;
}
.perso2{
    width: 100px;
}
.bombe{
    position: absolute;
    top: 0px;
    left: 13px;
}
img,.perso1{
    width: 84px;
    height: 100px;
    margin: 0 auto;
    display: block;
}
.vide{
    background: blue;
    position: relative;
}
.cassable{
    background: brown;
}
.incassable{
    background: grey;
}
button{
    width: 100px;
    height: 100px;
    font-size: 24px;
    display: none;
}